/*@import "vanilla-framework";*/

@import "tailwindcss";
@import "./nord.css";

@plugin "daisyui"
{
    themes: nord --default, nord-dark --prefersdark;
}
@plugin "@iconify/tailwind4";

/*@include vanilla;*/

/* TODO: Add licenses for the fonts */
@font-face {
    font-family: "Noto Sans Italic";
    src: url("../fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 400 1000;
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 400 1000;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu Sans Mono";
    src: url("../fonts/UbuntuSansMono-VariableFont_wght.ttf") format("truetype");
    font-weight: 500 600;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu Sans Mono Italic";
    src: url("../fonts/UbuntuSansMono-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 500 600;
    font-display: swap;
}

@plugin "daisyui/theme" {
    name: "nord-dark";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: var(--nord0);
    --color-base-200: var(--nord1);
    --color-base-300: var(--nord2);
    --color-base-content: var(--nord4);
    --color-primary: var(--nord8);
    --color-primary-content: var(--nord0);
    --color-secondary: var(--nord9);
    --color-secondary-content: var(--nord0);
    --color-accent: var(--nord7);
    --color-accent-content: var(--nord0);
    --color-neutral: var(--nord3);
    --color-neutral-content: var(--nord5);
    --color-info: var(--nord10);
    --color-info-content: var(--nord6);
    --color-success: var(--nord14);
    --color-success-content: var(--nord1);
    --color-warning: var(--nord13);
    --color-warning-content: var(--nord1);
    --color-error: var(--nord11);
    --color-error-content: var(--nord5);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}


@theme{
    --font-primary: "Noto Sans";
    --font-mono: "Ubuntu Sans Mono";
    --font-mono-italic: "Ubuntu Sans Mono Italic";
}

body {
    font-family: "Noto Sans", sans-serif;
}